:root {
  --main-color: #f5c62f;
  --secondary-color: #a2c0ce;
  --font-footer-color: #21343a;
  --section-padding: 50px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* header */

header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo {
  width: 60px;
}

header .container .nav {
  display: flex;
}

header .container .nav ul {
  display: flex;
}
header .container .nav ul a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
  color: var(--font-footer-color);
  font-size: 12px;
  margin-right: 10px;
}
header .container .nav .sub {
  display: flex;
  font-size: 12px;
  margin-left: 50px;
}
header .container .nav .sub .start {
  margin-left: 10px;
  background-color: var(--main-color);
  padding: 10px;
  margin-top: -10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
header .nav .menu {
  font-size: 22px;
}
@media (min-width: 768px) {
  header .nav .menu {
    display: none;
  }
}

@media (max-width: 767px) {
  header .nav .links ul {
    display: none;
  }
  header .nav .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #cac4c4;
  }
  header .nav ul li a {
    padding: 15px !important;
  }
  header .container .nav .sub .start {
    padding: 5px;
    margin-top: -5px;
  }
}

/* search-section */

.search-section {
  /* display: flex; */
  position: relative;
  z-index: -2;
  width: 100%;
  height: 450px;
}

.search-section img {
  z-index: -1;
  width: 750px;
  height: 450px;
  position: absolute;
  left: 250px;
}

.search-section h1 {
  position: absolute;
  width: 330px;
  margin-left: 195px;
  margin-top: 100px;
  color: var(--font-footer-color);
}
.search-section form input[type="search"]:focus {
  outline: none;
}
.search-section form input[type="search"]::placeholder {
  font-weight: 900;
  color: black;
}
.search-section form input[type="search"] {
  padding: 20px;
  position: absolute;
  left: 171px;
  top: 200px;
  width: 390px;
}

.search-section form i {
  position: absolute;
  top: 227px;
  left: 171px;
  z-index: 2;
}
.search-section form input[type="submit"] {
  padding: 21px;
  cursor: pointer;
  border: none;
  color: var(--font-footer-color);
  background-color: var(--main-color);
  position: absolute;
  left: 560px;
  top: 201px;
}
.search-section address {
  background-color: var(--main-color);
  padding: 10px;
  position: relative;
  top: 395px;
  left: 707px;
  width: 293px;
}
.search-section address .tel,
.search-section address .addr {
  margin-left: 10px;
  display: inline-block;
}

/* static */

.static {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.static .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.static .container .box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}
.static .container .content {
  background-color: #f6f5f4;
  /* padding: 25px; */
  text-align: center;
  flex-basis: 45%;
  margin-bottom: 20px;
}
.static .container .text {
  order: -1;
  flex-basis: 40%;
}
.static .container .content .number {
  margin-top: 40px;
  color: var(--main-color);
  font-weight: bold;
}
.static .container .content p {
  margin-bottom: 10px;
}
.static .container .text p {
  font-size: 10px;
  margin-top: 20px;
  line-height: 1.6;
  color: var(--font-footer-color);
}
.static .container .text h2 {
  color: var(--font-footer-color);
}

/* Rent */
.rent {
  background-color: #f6f5f4;
  padding-bottom: 10px;
}
.rent .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rent .container .content img {
  width: 260px;
  height: 180px;
}
.rent .container h1 {
  color: var(--font-footer-color);
  margin-bottom: 30px;
  width: 350px;
}
.rent .container .im {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rent .container .content {
  flex-basis: 33%;
}
@media (min-width: 992px) {
  .rent .container .content {
    flex-basis: 33%;
  }
}

.rent .container .im .content i {
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
}
.rent .container .im .content p {
  display: inline-block;
  font-size: 14px;
  color: var(--font-footer-color);
}

.rent .container .im .content .price {
  color: var(--main-color);
  font-weight: bold;
  margin-right: 110px;
}
.rent .container form {
  margin-top: 30px;
}
.rent .container form i {
  position: absolute;
  margin-top: 25px;
}
.rent .container form input[type="search"],
.rent .container form input[type="submit"],
.rent .container form button {
  padding: 20px;
  border: none;
  background-color: white;
  color: var(--font-footer-color);
}
.rent .container form input[type="submit"] {
  background-color: var(--main-color);
  margin-left: -5px;
}
.rent .container form button {
  margin-left: 70px;
}

/* work */

.work {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.work .container h1 {
  color: var(--font-footer-color);
}
.work .container .head {
  width: 500px;
}
.work .container p {
  color: var(--font-footer-color);
  line-height: 1.6;
}
.work .container .numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}
.work .container .numbers .one {
  background-color: var(--main-color);
  color: white;
}
.work .container .numbers .one,
.work .container .numbers .two,
.work .container .numbers .three {
  width: 250px;
  height: 270px;
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
}
.work .container .numbers .three,
.work .container .numbers .two {
  color: var(--font-footer-color);
}
.work .container .numbers h2 span {
  margin-right: 5px;
}
.work .container .numbers .one h2,
.work .container .numbers .two h2,
.work .container .numbers .three h2 {
  font-size: 12px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 65px;
}
.work .container .numbers .one p,
.work .container .numbers .two p,
.work .container .numbers .three p {
  font-size: 12px;
  margin-left: 40px;
}
.work .container .numbers .one p {
  color: white;
}
.work .container .numbers .one div,
.work .container .numbers .two div,
.work .container .numbers .three div {
  font-size: 12px;
  margin-left: 40px;
  margin-top: 20px;
  border-bottom: var(--font-footer-color) 1px solid;
  width: fit-content;
}
.work .container .numbers .one div {
  border-bottom: white 1px solid;
}

.work .container .numbers .one::before {
  content: "01";
  font-size: 100px;
  position: absolute;
  top: -50px;
  font-weight: bold;
}
.work .container .numbers .two::before {
  content: "02";
  font-size: 100px;
  position: absolute;
  top: -50px;
  font-weight: bold;
}
.work .container .numbers .three::before {
  content: "03";
  font-size: 100px;
  position: absolute;
  top: -50px;
  font-weight: bold;
  overflow: hidden;
}

/* services */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.services .container {
  display: flex;
  flex-wrap: wrap;
}
.services .container .headin h1 {
  color: var(--font-footer-color);
}
.services .container .headin p {
  line-height: 1.6;
  width: 650px;
  margin-bottom: 50px;
  color: var(--font-footer-color);
}
.services .container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services .container img {
  width: 600px;
  margin-left: -60px;
  flex-basis: 50%;
  margin-left: -90px;
}
.services .container .content p {
  width: 360px;
  line-height: 1.6;
  margin-top: 20px;
  color: var(--font-footer-color);
}
.services .container .content h2 {
  color: var(--font-footer-color);
  margin-bottom: 20px;
}

/* agent */

.agent {
  background-color: #f6f5f4;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.agent .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.agent .container .headin {
  color: #21343a;
  /* width: 500px; */
  margin-bottom: 50px;
}
.agent .container .headin p {
  line-height: 1.6;
  width: 500px;
  margin-right: 300px;
}
.agent .container .content {
  flex-basis: 31%;
}
.agent .container .content img {
  width: 280px;
}

.agent .container .content .text {
  background-color: white;
  width: 280px;
  padding-bottom: 10px;
}
.agent .container .content .text p:not(.name) {
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: var(--font-footer-color);
}

.agent .container .content .text .name {
  margin-left: 10px;
  color: var(--main-color);
  display: inline-block;
  margin-right: 30px;
}
.agent .container .content .text i {
  margin-left: 10px;
}

/* add */

.add {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.add .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add .container .content img {
  width: 540px;
  height: 340px;
  flex-basis: 45%;
  margin-bottom: 50px;
}
.add .container .content .text {
  width: 350px;
  margin-top: 50px;
  color: var(--font-footer-color);
  line-height: 1.6;
  /* position: relative; */
  margin-right: 50px;
}
.add .container .content .text h2 {
  margin-bottom: 20px;
}

.add .container .content .text.middle {
  text-align: end;
}
@media (max-width: 992px) {
  .add .container .content img {
    margin: 20px auto;
  }
  .add .container .content img.middle {
    order: -1;
  }
  .add .container .content .text {
    margin: 20px auto;
  }
  .add .container .content .text.text.middle {
    text-align: start;
  }
}
.add .container .content .text.first::before {
  content: "Austrlia, Melbume";
  background-color: var(--main-color);
  padding: 20px;
  width: 200px;
  margin-top: 245px;
  position: absolute;
  text-align: center;
  margin-left: -408px;
}
@media (min-width: 1200px) {
  .add .container .content .text.first::before {
    margin-left: -597px;
  }
}
@media (max-width: 992px) {
  .add .container .content .text.text.first::before {
    margin-top: -72px;
    margin-left: 26px;
  }
}
.add .container .content .text.middle::before {
  content: "Austrlia, Melbume";
  background-color: var(--main-color);
  padding: 20px;
  width: 200px;
  margin-top: 245px;
  position: absolute;
  text-align: center;
  margin-left: 400px;
}
@media (min-width: 1200px) {
  .add .container .content .text.text.middle::before {
    margin-left: 465px;
  }
}
@media (max-width: 992px) {
  .add .container .content .text.text.middle::before {
    margin-top: -72px;
    margin-left: 33px;
  }
}

.add .container .content i.first {
  position: absolute;
  margin-top: 320px;
  margin-left: 158px;
  color: white;
  z-index: 2;
}
@media (max-width: 992px) {
  .add .container .content i.first {
    margin-top: 350px;
    margin-left: 233px;
  }
}
.add .container .content i.middle {
  position: absolute;
  margin-top: 320px;
  margin-left: 777px;
  color: white;
  z-index: 2;
}
@media (min-width: 1200px) {
  .add .container .content i.middle {
    margin-top: 320px;
    margin-left: 836px;
  }
}
@media (max-width: 992px) {
  .add .container .content i.middle {
    margin-top: 350px;
    margin-left: 233px;
  }
}
.add .container .content button {
  border: none;
  background-color: var(--font-footer-color);
  padding: 20px;
  color: white;
  margin-top: 10px;
}

/* foot */

footer {
  background-color: var(--font-footer-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
footer .container .headin-first {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7a8795;
}
footer .container .headin-first h1 {
  color: white;
}
footer .container .headin-first h1 span {
  display: block;
}
footer .container .headin-first .sub p {
  display: inline-block;
  background-color: white;
  padding: 20px;
  width: 400px;
  margin-top: 31px;
  position: relative;
  right: 50px;
  color: #95a1b2;
}
footer .container .headin-first .sub i {
  color: var(--font-footer-color);
  position: absolute;
  margin-left: -70px;
  margin-top: 52px;
}
footer .container .foot {
  display: flex;
  margin-top: 90px;
}
footer .container .headin {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 45%;
}
footer .container .headin h2 {
  width: 450px;
  color: white;
}
footer .container .headin p {
  width: 145px;
  color: white;
}
footer .container .foot .lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 40%;
}
footer .container .foot .lists h3 {
  font-weight: normal;
  color: #95a1b2;
  margin-bottom: 10px;
}
footer .container .foot .lists a {
  display: block;
  text-decoration: none;
  color: white;
}
footer .container .foot .lists .luxstate {
  flex-basis: 25%;
}
